@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding: 32px;
}

html[data-smooth-scroll="false"] {
  scroll-behavior: auto;
}

html[data-smooth-scroll="true"] {
  scroll-behavior: smooth;
}

/* section#hero .hero-image {
  -webkit-mask-image: radial-gradient(circle, black 100%, transparent 40%);
  mask-image: radial-gradient(circle, black 100%, transparent 40%); 
}
*/
section#hero .cta--resume {
  transition:
    background-color 300ms,
    transform 100ms,
    color 300ms;
}

section#hero .cta--resume:hover {
  transition:
    background-color 300ms,
    transform 100ms,
    color 300ms;
}

section#hero .cta--resume:active {
  transition:
    background-color 300ms,
    transform 100ms,
    color 300ms;
}

.blob-1 .blob-container {
  animation: moveShapeBlob1 12s infinite linear;
}

.blob-1 .blob-shape {
  animation:
    rotateShape 12s infinite linear,
    changeShapeBlob1 6s infinite linear;
}

.blob-2 .blob-container {
  animation: moveShapeBlob2 12s infinite linear;
}

.blob-2 .blob-shape {
  animation:
    rotateShape 12s infinite linear,
    changeShapeBlob2 6s infinite linear;
}

@keyframes rotateShape {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes changeShapeBlob1 {
  0%,
  100% {
    border-radius: 30% 70% 37% 63% / 18% 31% 69% 82%;
  }

  20% {
    border-radius: 74% 26% 58% 42% / 44% 31% 69% 56%;
  }
  40% {
    border-radius: 88% 12% 15% 85% / 44% 82% 18% 56%;
  }

  60% {
    border-radius: 76% 24% 39% 61% / 18% 82% 18% 82%;
  }

  80% {
    border-radius: 71% 29% 62% 38% / 52% 82% 18% 48%;
  }
}

@keyframes moveShapeBlob1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(32px, 32px);
  }

  80% {
    transform: translate(-32px, -32px);
  }
}

@keyframes changeShapeBlob2 {
  0%,
  100% {
    border-radius: 30% 70% 37% 63% / 18% 31% 69% 82%;
  }

  20% {
    border-radius: 27% 73% 62% 38% / 52% 82% 18% 48%;
  }
  40% {
    border-radius: 32% 68% 52% 48% / 73% 39% 61% 27%;
  }

  60% {
    border-radius: 63% 37% 82% 18% / 56% 34% 66% 44%;
  }

  80% {
    border-radius: 76% 24% 71% 29% / 21% 80% 20% 79%;
  }
}

@keyframes moveShapeBlob2 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(32px, 32px);
  }

  80% {
    transform: translate(-32px, -32px);
  }
}

.container-center-padding {
  @apply container mx-auto px-4 md:px-8 lg:px-12 xl:px-16;
  /* @apply container mx-auto px-4 2xl:max-w-6xl; */
}

.hamburger__line {
  @apply block h-[3px] w-full rounded-[10px] bg-slate-800 transition;
}

#hamburger-toggle.active span:nth-child(1) {
  @apply rotate-45 transition;
}

#hamburger-toggle.active span:nth-child(2) {
  @apply opacity-0 transition;
}

#hamburger-toggle.active span:nth-child(3) {
  @apply -rotate-45 transition;
}

#navigationLinks {
  opacity: 0;
  display: flex;
  transition: opacity 600ms;
  pointer-events: none;
}

#navigationLinks.open {
  pointer-events: visible;
  transition: opacity 500ms;
  opacity: 1;
}

#animatedLayer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform-origin: top right;
  clip-path: circle(0px at 100% 0%);
  transition: clip-path 800ms ease-in-out;
  visibility: none;
}

#animatedLayer.active {
  visibility: visible;
  backdrop-filter: blur(1000px);
  clip-path: circle(141.4% at 100% 0);
  transition: clip-path 500ms ease-in-out;
}

#navigationLinks.open li {
  animation: fadeInUp 500ms forwards ease-in-out;
}

#navigationLinks.close li {
  animation: fadeOutDown 200ms forwards ease-in-out;
}

body.dark #navigationLinks.open {
  /* dark:bg-blax-950 */
  @apply bg-blax-950;
}

section#contact .form-input:user-invalid {
  /* @apply border-red-400 outline-red-400; */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}

@media screen and (min-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    cursor: none;
  }

  #navigationLinks {
    opacity: 1;
    position: relative;
    height: auto;
    width: max-content;
    flex-direction: row;
    pointer-events: visible;
  }
}
